@import "./node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "dark-mode.scss";

$color-dark: #0B0F19;
$color-primary: #6366F1;
$color-gray: #9397AD;
$color-darker-gray: #585C7B;
$color-gray-800: #33354D;
$color-border-gray: #E2E5F1;
$color-bg-light: #F3F6FF;
$color-white: #fff;
$color-bg-btn: #3e4265;
$color-success: #22C55E;

$tablet-size: 768px;
$tablet-landscape-size: 992px;
$desktop-size: 1200px;

body {
  font-family: 'manrope', sans-serif;
  color-scheme: light;

  h4, h2, h3, h1 {
    font-weight: bolder;
    color: $color-dark;
  }

  p ,li {
    color: $color-darker-gray;
    font-size: 16px;
  }

  .transition {
    transition: .4s;

  }

  .btn-primary {
    background-color: $color-primary;
    border: none;

    &:hover {
      background-color: transparent;
      border: 1px solid $color-primary;
      color: $color-primary;
    }
  }

  .btn-border-none {
    border: none;
    background-color: transparent;
  }

  .main-header {
    background-image: linear-gradient($color-white, #f8f3fe);

    nav {
      min-height: 60px;

      a {
        text-decoration: none;
        cursor: pointer;

        .logo-text {
          font-weight: bolder;
          font-size: 1.25rem;
          color: $color-dark;
        } 
      }

      .featurs-link {
        a {
          text-decoration: none;
          color: $color-gray-800;

          &:hover {
            color: $color-primary;
          }
        }
      }

      .form-switch {
        padding: 0;
        margin: 0;

        .form-check-input {
          padding: 0;
          margin: 0;
          --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
          --bs-form-check-bg: gray;

          width: 2.9rem;
          height: 1.5rem;
          border: none;
          box-shadow: 0 8px 16px 0 rgba(99, 102, 241,0.19), 0 6px 20px 0 rgb(99, 102, 241, 0.19);
          cursor: pointer;

          @media (min-width: $tablet-size) {
            & {
              box-shadow: none;
            }
          }

          &:checked {
            background-color: $color-primary;
          }
        }
      }

      .navbar-toggle {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(62, 66, 101, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        background-position: center;
        background-size: contain;
        width: 30px;
        height: 30px;
        display: block;
        cursor: pointer;
      }

      .sign-btn {
        background-color: $color-primary; 
        border-color: transparent;
        color: $color-white;
        border-radius: 5px;
        font-size: 14px;
        background-image: url('/images/user-icon-white.svg');
        background-repeat: no-repeat;
        background-position: 1.5rem ;
        min-height: 35px;
        padding-left: 2rem;

        @media (min-width: $tablet-landscape-size) {
          & {
            background-position: 1rem ;
          }
        }

        &:hover {
          color: $color-primary;
          background-color: transparent;
          border: 1px solid $color-primary;
          background-image: url('/images/user-icon-perpule.svg');
        }
      }
    }

    .header-details {

      .appstore {
        background-image: url('/images/appstore-light.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 33%;
        min-height: 55px;

        @media (min-width: $tablet-size) {
          & {
            min-height: 43px;
            background-size: 70%;
          }
        }  
        
        @media (min-width: $desktop-size) {
          & {
            min-height: 52px;
          }
        }  
      }

      .googleplay {
        background-image: url('/images/googleplay-light.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 33%;
        min-height: 55px;
        
        @media (min-width: $tablet-size) {
          & {
            min-height: 43px;
            background-size: 80%;
          }
        }
        
        @media (min-width: $desktop-size) {
          & {
            min-height: 52px;
          }
        }  
      }
      .discover-btn-wrapper { 
        .accardion-btn {
          border: none;
          outline: none;
          padding: 1.25rem;
          border-radius: 50%;
          background-position: center;
          background-image: url(/images/icons/chevron-dark.svg);
          background-repeat: no-repeat;
          transform: rotate(180deg);
          box-shadow: 0 5px 16px 5px rgba(226, 224, 226, 0.2), 0 0 20px 1px rgba(120, 120, 120, 0.19);
          background-color: $color-white;
          cursor: pointer;
        }
        
        .discover-more {
          color: $color-darker-gray;
          font-size: 14px;  
        }
      }

      @media (min-width: $tablet-size) {     
        & {
          background-image: url('/images/Group.svg');
          background-repeat: no-repeat;
          background-position: bottom right;
          background-size: 55%;  
        }

        .app-img {
          width: 94px;
        }

        .google-img {
          width: 104px;
        }   
      }

      @media (min-width: $tablet-landscape-size) {     
        & {
          background-size:auto;  
        }
      }
      
      @media (min-width: $desktop-size) {
        & {
          background-size: contain;
        }
      }  
    }
  }

  #brands-section {
    .img-box {
      @media (min-width: $tablet-size) {   
        & {
          border: 1px solid $color-border-gray;
          border-radius: 8px;
          min-height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 90%;
          }
        }
      }
      
      @media (min-width: $tablet-landscape-size) {
        & {
          img {
            width: 80%;    
          } 
        }
      }
    }
  }

  #app-features-section {
    .card-wrapper {
      margin-top: 1rem;

      img {
        border: solid 1px $color-bg-light;
        background-color: $color-bg-light;
        padding: 1rem;
        border-radius: 8px;
      }
    }
  }
   
  #how-work-section {
    background-color: $color-bg-light;
    padding: 4rem 0;

    h2 {
      padding-bottom: 3rem;
      
    }

    img { 
      @media (min-width: $tablet-size) {   
        width: 100%;
        display: block;
        margin: auto;
      }

      @media (min-width: $desktop-size) {   
        width: 80%;  
      }
    }

    #how-work-info {
      padding-top: 3rem;

      @media (min-width: $tablet-size) {   
        margin: auto 6rem;    
      }

      @media (min-width: $desktop-size) {   
        margin: auto 18rem;    
      }
    } 
  }  

  #transfer-simple-receive {
    margin-top: 6rem;
    margin-bottom: 6rem;



    button {
      background-color: $color-primary;
      color: $color-white;
      border: 1px solid $color-primary;
      border-radius: 8px;
      padding: 0 2rem;
      font-size: 14px;

      img {
        padding: 1rem
      }

      &.learn-more-btn {
        background-position: right;
        background-image: url(/images/arrow.svg);
        background-repeat: no-repeat;
        min-height: 44px;
        background-position: 7rem;

        &:hover {
          color: $color-primary;
          background-color: transparent;
          border: 1px solid $color-primary;
          background-image: url('/images/icons/arrow-r-perpule.svg');
        }
      }
    }

    #simple-transfer-info {
      margin-top: 5rem;
      
      ul {
        line-height: 2rem;
        list-style-type: none;
        padding: 0;
        margin: 2rem 0;
        
        li {
          img {
            margin-right: .5rem;
          }
        }
      }
      
      
    }

   #receive-payment-info {
    margin-top: 5rem;

    #bank-details-wrapper {  
      img {
        border: solid 1px $color-bg-light;
        background-color: $color-bg-light;
        padding: 1rem;
        border-radius: 8px;
      }

      p {
        padding-top: 1rem;
      }
    }
   }
  }

  #clients-testimonials {
    background-color: $color-bg-light;

    h2 {
      margin-right: 3rem;
      font-size: 40px;
    }
  }

  #FAQ-section {
    .accordion-item {
      button {
        font-size: 16px;
        font-weight:600;
        color: $color-dark;
      }
  
      .accordion-button {
        &:not(.collapsed) {
          background-color: $color-white;
          
          &:after {
            box-shadow: 0 8px 16px 0 rgba(99, 102, 241, 0.19), 0 6px 20px 0 rgba(99, 102, 241, 0.19);
            background-color: $color-primary;
            background-image: url("/images/icons/chevron.svg");
            transform: rotate(0deg);
          }

          @media (min-width: $tablet-size) {         
              box-shadow: none;       
          }
        }
      
        &:after{
          background-color: $color-bg-light;
          padding: 1.25rem;
          border-radius: 50%;
          background-position: center;
          background-image: url("/images/icons/chevron-dark.svg");
          transform: rotate(180deg);    
        }

        @media (min-width: $tablet-size) {
          border-radius: var(--bs-border-radius);
        }
      }
  
      .accordion-body {
        color: $color-darker-gray;
        font-size: 14px;
      }

      @media (min-width: $tablet-size) {     
        border: none;
        box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        border-radius: var(--bs-border-radius);
      }
    }

    .contact-us-wrapper {
      border: 1px solid $color-border-gray;
      border-radius: 8px;
      padding: 2rem 1.5rem;

      img {
        margin-bottom: 1rem;
      }
   
      .btn-border-none {
        padding-left: 0; 
        background-size: 15%;
        padding-right: 2rem;
        background-position: right;
        background-repeat: no-repeat;
       
        &.right  {
          color: $color-success;
          background-image: url(/images/icons/arrow-r-green.svg);
        }

        &.left {
          color: $color-primary;
          background-image: url(/images/icons/arrow-r-perpule.svg);
        }  
      }  
    }
  } 

  .subscription {
    background-color: $color-bg-light;
    border: none;
    border-radius: 8px;

    .input-wrapper {
      .email {
        padding-left: 3rem;
        background-image: url('/images/icons/envelop.svg');
        background-repeat: no-repeat;
        background-position: 15px center;
        background-size: 1.5rem;
        font-size: 16px;
        color: #B4B7C9;
      }

      button:not(:disabled), [type=button]:not(:disabled) {
        border: none;
        &:hover {
          color: $color-primary;
          background-color: white;
          border: 1px solid $color-primary;
        }
      }
    }

    

    h4 {
      @media (min-width: $desktop-size) {
        & {
          font-size: 24px; 
        } 
      }
    } 
  }

  footer {
    smaller {
      color: $color-gray;
    }
  }
}

