@import "./node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


$color-dark: #0B0F19;
$color-primary: #6366F1;
$color-gray: #9397AD;
$color-darker-gray: #585C7B;
$color-gray-800: #33354D;

$tablet-size: 768px;
$tablet-landscape-size: 992px;
$desktop-size: 1200px;
//sm ≥576px, md ≥768px,	lg ≥992px

body {
  .btn-primary {
    background-color: $color-primary;
  }

  .main-header {
    background-image: linear-gradient(#fff, #f8f3fe);

    nav {
      min-height: 60px;

     a {
      text-decoration: none;
      cursor: pointer;

      .logo-text {
        font-weight: bolder;
        font-size: 1.25rem;
        color: $color-dark;
      }
     
     }

      

      .featurs-link {
        a {
          text-decoration: none;
          color: $color-gray-800;

          &:hover {
            color: $color-primary;
          }
        }
      }

      .form-switch {
        padding: 0;
        margin: 0;

        .form-check-input {
          padding: 0;
          margin: 0;
          --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
          --bs-form-check-bg: gray;

          width: 2.9rem;
          height: 1.5rem;
          border: none;
          box-shadow: 0 8px 16px 0 rgba(99, 102, 241,0.19), 0 6px 20px 0 rgb(99, 102, 241, 0.19);
          cursor: pointer;

          &:checked {
            background-color: $color-primary;
          }
        }
      }

      .navbar-toggle {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(62, 66, 101, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        background-position: center;
        background-size: contain;
        width: 30px;
        height: 30px;
        display: block;
        cursor: pointer;
      }

      .sign-btn {
        background-color: $color-primary; 
        border-color: transparent;
        color: #fff;
        border-radius: 5px;
        font-size: 14px;
      }
    }

    .header-details {
      h1{
        font-weight: bolder;  
      }

      p {
        color: $color-darker-gray;
      }

      .discover-btn-wrapper { 

        .accardion-btn {
          width: 2.75rem;
          height: 2.75rem;
          border: none;
          outline: none;
        }
        
        .discover-more {
          color: $color-darker-gray;
          font-size: 14px;
        }
      }

      @media (min-width: $tablet-size) {     
        & {
          background-image: url('/images/Group.svg');
          background-repeat: no-repeat;
          background-position: bottom right;
          background-size: 55%;  
        }

        .app-img {
          width: 94px;
        }

        .google-img {
          width: 104px;
        }
      }

      @media (min-width: $tablet-landscape-size) {     
        & {
          background-size:contain;  
        }
      }
      
      @media (min-width: $desktop-size) {
        & {
          background-size: contain;
        }
      }  
    }
  }

  .how-work-section {
    background-color: orange;
  }
  
}
